<form class="{{cssClass}}" autocomplete="off">
	<div class="{{data.splatSelect.value}} sheet-layout">
		<div class="sheet-logo"></div>

		<div class="character_pic"><img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/></div>

		<div class="header-details">
			<h1 class="charname">{{actor.name}}</h1>
			<div class="character-details">Age: {{data.details.age.value}}</div>
			<div class="character-details">Faction: {{data.details.faction.value}}</div>
			<div class="character-details">Virtue: {{data.details.anchor1.value}}</div>
			<div class="character-details">Vice: {{data.details.anchor2.value}}</div>
			<br>
			<div class="character-details concept">Concept: {{data.details.concept.value}}</div>
			<br>
			<div class="vamp-bg-block">
				<div class="character-details"> Clan: </div> <label>{{data.vamp-bg.clan.value}}</label>
				<div class="character-details"> Virtue: </div> <label>{{data.vamp-bg.virtue.value}}</label>
				<div class="character-details"> Vice: </div> <label>{{data.vamp-bg.vice.value}}</label>
				<div class="character-details"> Bloodline: </div>
				<div class="character-details">{{data.vamp-bg.bloodline.value}}</div>
				<div class="character-details"> Covenant: </div><label>{{data.vamp-bg.convenant.value}}</label>
			</div>
		</div>

		<div style="clear: both;"></div>

		<!-- Tabs v2 -->
		<section id="actor-tab-sections" class="sheet-body">
			<nav
				id="codprimarytabs"
				class="sheet-tabs tabs"
				ondragstart="return false;"
				ondrop="return false;"
			>
				<a class="item active" data-tab="display">{{localize "Display"}}</a>
				<a class="item" data-tab="main">{{localize "Main"}}</a>
				<a class="item" data-tab="disciplines">{{localize "Disciplines"}}</a>
				<a class="item" data-tab="merits">{{localize "Merits"}}</a>
				<a class="item" data-tab="equipment">{{localize "Equipment"}}</a>
				<a class="item" data-tab="customrolls">{{localize "Custom Rolls"}}</a>
				<a class="item" data-tab="extra">{{localize "Extra"}}</a>
			</nav>

			<section class="content">
				<div class="tab {{tabs.display.class}}" data-tab="{{tabs.display.data}}">
					{{> (tabs.display.template) }}
				</div>
				<div class="tab {{tabs.main.class}}" data-tab="{{tabs.main.data}}">
					{{> (tabs.main.template) }}
				</div>
				<div class="tab {{tabs.disciplines.class}}" data-tab="{{tabs.disciplines.data}}">
					{{> (tabs.disciplines.template) }}
				</div>
				<div class="tab {{tabs.merits.class}}" data-tab="{{tabs.merits.data}}">
					{{> (tabs.merits.template) }}
				</div>
				<div class="tab {{tabs.equipment.class}}" data-tab="{{tabs.equipment.data}}">
					{{> (tabs.equipment.template) }}
				</div>
				<div class="tab {{tabs.rolls.class}}" data-tab="{{tabs.rolls.data}}">
					{{> (tabs.rolls.template) }}
				</div>
				<div class="tab {{tabs.extra.class}}" data-tab="{{tabs.extra.data}}">
					{{> (tabs.extra.template) }}
				</div>
			</section>
		</section>

		<div class="footer">
			<div class="guide">
				<span>
					Attributes 5/4/3 • Skills 11/7/4 (+3 Specialties) • Merits 7 • Health
					= Stamina + Size • Willpower = Resolve + Composure • Size = 5 for
					adult humans<br />
					Defense = Lowest of Dexterity or Wits + Athletics • Initiative Mod =
					Dexterity + Composure • Speed = Strength + Dexterity + 5 • Starting
					Integrity = 7</span
				>
			</div>
		</div>
	</div>
</form>
